* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
}
.slider{
    border: #000 2px solid;
}

.item {
    float: left;
    width: 1000px;
    height: 500px;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item .text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.thumbs {
    float: left;
    height: 500px;
    background: #000;
    position: relative;
}

.thumb {
    height: calc((500px) / 5);
    opacity: 0.5;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb.active {
    border: 2px solid #ccc;
    opacity: 1;
}

.prev, .next {
    width: 25px;
    height: 25px;
    margin: 10px 0;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 999;
}

.next {
    bottom: 0;
}
.fa-chevron-up, .fa-chevron-down{
    padding: 4px 4px;
}